<!DOCTYPE html>
<html>
  <head>
      <title><%= title %></title>
	  <style>
		a{
		height: 30px;
		width: 100px;
		text-align: center;
		line-height: 30px;
		text-decoration: none;
		border-radius: 3px;
		display: inline-block;
	    background-color: #4a4ae3;
		color: white;
		margin-top:10px;
		}
		
		div{
		margin-top:10px;
		font-size:14px;
		padding:3px;
		}
	  </style>

  
  </head>
  <body>
    <h1>测试cookie</h1>
   
	
	<a href="javascript:;" id="J_getcookie">获取当前cookie</a> <br>
	
	<a href="javascript:;" id="J_server_setcookie">服务器写cookie</a><br>
	
	<a href="javascript:;" id="J_remove_cookie">清除cookie</a><br>
	
	<div id="J_cookie_div">
	
	
	</div>
	
	<script type="text/javascript" src="./javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="./javascripts/index.js"></script>
  </body>
</html>
